html, body{
  height: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

header{
  height: 100px;
  width:100%;
  background: pink;
}

section{
  width:100%;
  height: calc(100% - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.littlenavi-display{
  height: 100%;
  width:100%;
}

.littlenavi-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:100%;
  min-height: 300px;
  min-width: 300px;
  max-height: 1000px;
  max-width: 1000px;
  margin: 0 auto;
}

.message{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 200px;
  font-size: 5em;
  font-family: 'Verdana';
  color: purple;
  text-align: center;
}

.go-button{
  display: none;
  justify-content: center;
  align-items: center;
  width:250px;
  height:180px;
  background: pink;
  font-size: 2em;
  font-family: 'Verdana';
  color: white;
}

.map-view{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width:100%;
  height:100%;
  font-size: 2em;
  font-family: 'Verdana';
  color: black;
}

.geocoding-tools{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height:120px;
  max-width: 650px;
}

.map-view input{
  padding: 5px;
  width:200px;
  height:60px;
  border-radius: 10px;
  border: 2px solid purple;
  font-size: 0.8em;
  font-family: 'Verdana';
}

.displayed{
  display: flex;
}

#mapid {
  width: 80%;
  height: 400px;
  position: relative;
  transition: 0.3s;
}

.hasError{
  border-color: red !important;
}

.round-button{
  background: url('../images/car-xxl.png') purple no-repeat 50% 50%;
  background-size: 40%;
  width:120px;
  height:60px;
  border-radius: 20px;
  transition:0.3s;
}

.round-button:hover{
  cursor: pointer;
  background: url('../images/car-xxl.png') pink no-repeat 50% 50%;
  background-size: 30%;
}

.round-button.onStart{
  cursor: pointer;
  background: url('../images/car-xxl.png') purple no-repeat 20% 50%;
  background-size: 30%;
}

.round-button.onFinish{
  cursor: pointer;
  background: url('../images/car-xxl.png') purple no-repeat 80% 50%;
  background-size: 30%;
}
